
<form name="form-busca-orcamento" action="" method="post">

	<div class="container search">
		<input type="search" name="orcamento_busca" autofocus required placeholder="Pesquisar por" value="{orcamento_busca}">

		<button class="btn btn-small btn-blue">Buscar</button>
	</div>	

	<div class="container filtro">	

		<div class="filtro-title">
			<h1>Filtro</h1>
		</div>	
				
		<div class="container field">
			<div>
				<label for="">Data Inicial</label>
				<input type="date" name="filtro_data_inicial" value="{orcamento_data_inicial}">
			</div>

			<div>
				<label for="">Data Final</label>
				<input type="date" name="filtro_data_final" value="{orcamento_final}">
			</div>

			<div>
				<label for="">Cliente</label>
				<input type="text" name="orcamento_cliente" value="{orcamento_cliente}">	
			</div>

			<div class="last">
				<label for="">Vendedor</label>
				<input type="text" name="orcamento_vendedor" value="{orcamento_vendedor}">	
			</div>

			<div class="clear"></div>					
		</div>
	</div>

	<div class="clear"></div>
</form>
