
<form class="form-cad-orcamento" name="form-orcamento" action="{formAction}" method="post">

	<label for="orcamento_id">Id</label>
	<input type="number" placeholder="Não preencher" name="orcamento_id" readonly value="{orcamento_id}">

	<label for="orcamento_cliente">Cliente</label>
	<input type="text" autofocus placeholder="Nome completo do cliente" name="orcamento_cliente" required="required" value="{orcamento_cliente}">

	<label for="orcamento_data_hora">Data e Hora <small>( formato obrigatório DD/MM/AAAA HH:mm:ss )</small></label>
	<input type="text" placeholder="DD/MM/AAAA HH:mm:ss" name="orcamento_data_hora" required="required" value="{orcamento_data_hora}">

	<label for="orcamento_vendedor">Vendedor</label>
	<input type="text" placeholder="Nome completo do vendedor" name="orcamento_vendedor" required="required" value="{orcamento_vendedor}">

	<label for="orcamento_descricao">Descrição</label>
	<textarea name="orcamento_descricao" placeholder="Descrição do orçamento" rows="4" required="required">{orcamento_descricao}</textarea>

	<label for="orcamento_valor">Valor Orçado <small>( informe os centávos )</small></label>
	<input type="text" placeholder="Valor total do orçamento" name="orcamento_valor" required="required" value="{orcamento_valor}">

	<button class="btn btn-small btn-blue">{action}</button>

</form>
