<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Oficina 2.0</title>

	<link rel="stylesheet" href="{home}/core/assets/css/msg.css">
	<link rel="stylesheet" href="{home}/app/view/css/style.css">

</head>
<body>

	<!-- HEADER PRINCIPAL -->
	<header class="container bg-green main-header">
		<div class="content">

			<a href="{home}">
				<h1>Oficina 2.0</h1>
			</a>

			<p>Aqui você gerencia todos os seus orçamentos com apenas um click!</p>

			<ul class="menu link-busca">
				<a href="{home}/cadastro">
					<li>Cadastro</li>
				</a>
				<a href="{home}/lista">
					<li>Lista</li>
				</a>
				<a href="{home}/busca">
					<li>Busca</li>
				</a>
			</ul>

		</div>
		<div class="clear"></div>
	</header>
	