<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Oficina 2.0</title>

	<link rel="stylesheet" href="../../app/view/css/style.css">

</head>
<body>

	<!-- HEADER PRINCIPAL -->
	<header class="container bg-green main-header">
		<div class="content">

			<a href="http://oficina2.0.com">
				<h1>Oficina 2.0</h1>
			</a>

			<p>Aqui você gerencia todos os seus orçamentos com apenas um click!</p>

			<ul class="menu link-busca">
				<a href="http://oficina2.0.com/cadastro">
					<li>Cadastro</li>
				</a>
				<a href="http://oficina2.0.com/lista">
					<li>Lista</li>
				</a>
				<a href="http://oficina2.0.com/busca">
					<li>Busca</li>
				</a>
			</ul>

		</div>
		<div class="clear"></div>
	</header>

	<!-- CONTEÚDO DA PÁGINA -->
	<main class="container">
		{<div class="msg"></div>}

		<div class="content conteudoPrincipal">

			{conteudoPrincipal}			

		</div>

		<div class="clear"></div>
	</main>
	
	<!-- FOOTER PRINCIPAL -->
	<footer class="container bg-green main-footer">

		<div class="content">
			Desnvolvido por <span>Weydans Barros</span>&reg;
		</div>

		<div class="clear"></div>
	</footer>
</body>
</html>
