/**
 * Arquivo geral de configuração de estilos do projeto
 * Configura estrutura do layout, disperção, paleta de cores e etc.
 * @author Weydans Barros, 17/04/2019
 */

*, *:before, *:after{
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	outline: none;

	font-family: 'Verdana', sans-serif;
	font-size: 1em;
}

ul{list-style: none;}
img{outline: none; max-width: 100%;}
a{text-decoration: none;}

/**
 * CONFIGURAÇÃO ESTRUTURAL DO PROJETO
 */
 .container{float: left; width: 100%;}
 .content{float: left; width: 80%; margin: 0 10%;}
 .clear{clear: both;}
 .last{margin-right: 0 !important; border-right: none !important;}

 /**
 * CONFIGURAÇÃO PALETA DE CORES DO PROJETO
 */
 .bg-green{background: #0d8; color: #fff;}

/**
 * CONFIGURAÇÃO PADRÃO PARA FORMULÁRIOS
 */
 form{float: left; width: 100%; margin-top: 5px; color: #666}
 label{float: left; width: 100%; margin: 10px 0 4px 0; font-size: .8em;}

 input,
 textarea,
 select {
 	width: 100%;
 	padding: 5px 10px;
 	margin-bottom: 4px;
 	border-radius: 4px;
 	border: 1px solid #ddd;
 	font-size: .7em;
 	color: #444
 }
 textarea{font-size: .8em;}
 input[type="checkbox"]{width: auto; margin-right: 3px;}

/**
 * CONFIGURAÇÃO PADRÃO PARA BOTÕES
 */
 .btn{
 	float: left;
 	cursor: pointer;
 	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.6);
 }

 .btn-small{padding: 6px 18px; font-size: .75em; letter-spacing: 1px;}
 .btn-meddium{padding: 10px 30px; font-size: 1em;}

 .btn-blue{background: #08e; color: #fff; border: 1px solid #07d; border-radius: 4px;}
 .btn-blue:hover{background: #09f; color: #fff; border: 1px solid #08e;}
 .btn-white{background: #fdfdfd; color: #555; border: 1px solid #bbb; border-radius: 4px;}
 .btn-white:hover{background: #fff; color: #444; border: 1px solid #999;}

/**
 * CONFIGURAÇÃO HEADER PRINCIPAL
 */
 .main-header{padding: 8px 0; border-bottom: 1px solid #bbb;}
 .main-header h1{float: left; width: 125px; padding: 8px 10px; font-size: 1em; color: #fff; border: 2px solid #fff; border-radius: 40% 0% 40% 0%;}
 .main-header p{float: left; width: 50%; margin-left: 10px; font-size: .82em; margin-top: 15px; text-shadow: 0 0 2px #999;}
 .main-header .menu{float: right; width: 30%; text-align: right; margin-top: 10px;}
 .menu li{display: inline-block; padding: 2px 12px; color: #fff; text-shadow: 0 0 2px #666; font-size: .9em}
 .menu li:hover{background: #fff; color: #999; border-radius: 4px; text-shadow: none; transition: .5s;}
 .main-header span{float: right; margin-top: 8px;}

/**
 * CONFIGURAÇÃO FOOTER PRINCIPAL
 */
 .main-footer{margin-top: 15px; text-align: center; border-top: 1px solid #bbb; position: fixed; bottom: 0}
 .main-footer div, 
 .main-footer span{padding: 5px 0 0 0; font-family: 'Consolas', sans-serif; text-shadow: 0 0 2px #999;}

/**
 * CONFIGURAÇÃO CONTEUDO PRINCIPAL
 */
 .conteudoPrincipal{background: #f9f9f9; padding: 20px 30px; margin-top: 15px; margin-bottom: 45px; border: 1px solid #e9e9e9; border-radius: 15px;}

/**
 * CONFIGURAÇÃO FORMULÁRIO DE CADASTRO DE ORÇAMENTOS
 */
 .form-cad-orcamento button{margin: 12px 40%; width: 20%;}

/**
 * CONFIGURAÇÃO FORMULÁRIO DE PESQUISA DE ORÇAMENTOS
 */
 .form-busca-orcamento{background:red}
 .search{margin-bottom: 5px; padding: 8px 12px 5px 12px; font-size: 1em; background: #cfc; border: 1px solid #beb;  border-radius: 8px;}
 .search input{width: 80%; float left; display: inline-block; margin-right: 1%; padding: 7px 12px;}
 .search button{float: right; width: 19%;}

 .field{margin-top: 5px; background: #fff; border: 1px solid #e5e5e5; font-size: 0.85em; border-radius: 8px;}
 
 .field div{width: 25%; float: left; padding: 10px 10px 0 10px;}
 .field label{padding: 0px; margin: 0;}
 .field input{ padding: 4px; margin: 2px; }
 .field input[type="date"]{padding: 3px; margin: 2px 0; }

/**
 * CONFIGURAÇÃO TABELA DE RESULTADOS DA BUSCA DE ORÇAMENTOS
 */
 .tabela{margin-top: 15px; font-size: .8em;}
 .tabela p{padding: 6px 8px; background: #086; color: #fff; font-weight: bold;}
 .tabela li{display: inline-block; padding: 6px 6px; font-size: .875em; vertical-align: middle;}
 .tabela .topo-tabela{background: #0a8;}
 .tabela .topo-tabela li{font-weight: bold; text-align: center; text-shadow: 0 0 2px #555; color: #fff; border-right: 1px solid #fff;}
 .tabela .linha-res{border-bottom: 1px solid #e5e5e5;}
 .tabela .linha-res:hover{background: #9df;}

 .w-id{width: 4%;}
 .w-cliente{width: 21%;}
 .w-data{width: 8%}
 .w-vendedor{width: 21%;}
 .w-descricao{width: 28%;}
 .w-val{width: 6%;}
 .w-acao{width: 9%}
 .w-edit{width: 4.2%; text-align: right;}
 .w-delete{width: 4.2%; text-align: left;}

 .w-edit img{width: 18px;}
 .w-delete img{width: 18px;}

 .par{background: #fff;}
 .impar{background: #f3f3f3;}

